<%- include('../partials/header') %>

<section class="no-person-section">
    <div class="no-person-div">
        <h1>Error: 404</h1>
        <h5>No Such Person Exists</h5>
        <a href="/persons/search"><button class="no-person-btn">Go Back To Search Page</button></a>
    </div>
</section>

<%- include('../partials/footer') %>